<template>
    <footer>
        <p>Footer</P>
    </footer>
</template>

<style scoped>

  footer{
    height: 50px;
    background: #FFF;
    border-top: 1px solid rgba(0,0,0,.075);
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index:1000;
  }

</style>