<template>
    <header>
        <TheMenu />
    </header>
</template>

<style scoped>

  header {
    position: fixed;
    background: #FFF;
    border-bottom: 1px solid rgba(0,0,0,.075);
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index:1000;
  }

</style>