<template lang="pug">
  menu
    nav
      ul
        li 
          NuxtLink(to="/") Home
        li 
          NuxtLink(to="/listing") Liste
</template>

<style lang="less" scoped>

  nav {
    padding: 0 1rem;
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: center;
      li {
        padding: 1rem;
        font-size: 1.2rem;
      }
    }
  }

</style>
