<template>

  <div>
    <h1>Hello World ! 👋</h1>
    <button><NuxtLink to="/listing">Démarrer la visite</NuxtLink></button>
  </div>

</template>

<script>

  export default {

    name: 'welcome',

    layout : 'default'

  }

</script>

<style lang="less" scoped>

  button{
    margin-top: 20px;
    a{
      display: block;
      &:hover{
        color: inherit;
      }
    }
  }

</style>