<template>
  <div>

  <v-wait for="loaded">
    <template slot="waiting">
      <div>
        <el-progress :percentage="percentage"></el-progress>
        <p>{{ stepLoad }}</p>
      </div>
    </template>

    <!-- Table -->
    <el-table :data="tableData.filter(data => data.name != search)" :default-sort = "{prop: 'nom', order: 'descending'}">

      <el-table-column type="expand">
        <template slot-scope="props">
          <h2>Plus d'infos :</h2>
          <p>Pays : {{ props.row.country }}</p>
          <p>Langue : {{ props.row.language }}</p>
          <p>Description : {{ props.row.description }}</p>
        </template>
      </el-table-column>

      <el-table-column label="Nom" prop="name" sortable></el-table-column>

      <el-table-column label="Categorie" prop="category"></el-table-column>

      <el-table-column label="Url" prop="url"> 
        <template type="action" slot-scope="scope">
            <a :href="`${scope.row.url}`"> {{ scope.row.url }} </a>
        </template>
      </el-table-column>

      <el-table-column align="right">
        <template slot="header">
          <el-input align="right" v-model="search" size="mini" placeholder="Rechercher" class="input-search"/>
          <el-button align="right" type="primary" size="mini" icon="el-icon-edit" @click="tableDataAdd()"></el-button>
        </template>
        <template type="action" slot-scope="scope">
          <el-button size="mini" type="infos" @click="tableDataDelete(scope.$index)">x</el-button>
        </template>
      </el-table-column>

       <!-- <el-pagination
          layout="prev, pager, next"
          :total="50">
        </el-pagination> -->
    </el-table>
  </v-wait>

  </div>
</template>

<script>

export default {
    name : 'listing',
    layout : 'listing',
    components: {

      // popAdd
      // loadingListing

    },
    // middleware : 'loadingListing',
    data(){

			return {
        percentage : 0,
        stepLoad: '',
        tableData : [
          name = ''
        ],
        search: '',
      }

    },
    // async fetch() {

    //   const datas = await fetch(`http://newsapi.org/v2/sources?apiKey=d26dd028bab645e2b4ffc88d990c1175`).then(

    //     this.loading = false,
    //     res => res.json()
    //   )
    //   this.tableData = datas.sources
    //   console.info(this.tableData)

    // },
    methods: {

      tableDataDelete(index){

          this.$confirm('Action irréversible', 'Ceci est votre ultime bafouille ?', {

            confirmButtonText: 'Oui',
            cancelButtonText: 'Non',
            type: 'warning'

          }).then(() => {

            this.tableData.splice(index, 1)
            this.$message({
              type: 'success',
              message: 'Suppression confirmée'
            });

          }).catch(() => {

            this.$message({
              type: 'info',
              message: 'Suppression annulée'
            });          

          });

      },

      tableDataSearch() {

      },

      tableDataAdd(){
        alert('modale form to create')
      },

      async load() {
        
          this.$nextTick(() => {

            this.$nuxt.$loading.start()

          })

          // start waiting
          this.$wait.start('loaded');
          

          setTimeout ( () => {
              this.percentage = 100
              this.stepLoad = 'Génération du template ..'
          }, 1000)
          const datas = await fetch(`http://newsapi.org/v2/sources?apiKey=d26dd028bab645e2b4ffc88d990c1175`).then(
              res => res.json(),
          )

          await new Promise(resolve => {
            setTimeout(resolve, 1500)
            this.percentage = 50
            this.stepLoad = 'Récupération des données ..'
            
            this.tableData = datas.sources
            console.info(this.tableData)
          })
          this.$wait.end('loaded');
      },

    },
    created() {

      this.$nextTick(() => {

        this.$nuxt.$loading.start()

        this.load().then( () =>
          this.$nuxt.$loading.finish()
        )

      })

      
    }

}

</script>

<style lang="less" scoped>

h2{
  color: #51c2dd;
  text-decoration: underline;
  font-size: 1em;
  margin-bottom: 10px;
}

.input-search{
  width: 80%;
  margin-right: 5px;
}

</style>